<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/output.css" />
    <link rel="stylesheet" href="/css/persian-datepicker.css"/>
     <script src="/js/jquery.js"></script> 
     <script src="/js/persian-date.min.js"></script> 
    <script src="/js/persian-datepicker.min.js"></script>
  </head>
  <body class="container">

    <header><%- include('./partials/header'); %>

</header>

    <main class="p-4">
     <div className="px-2">
       <a className=" flex text-2xl border-b p-4 border-gray-400">
           ویرایش تخفیف 
       </a>
     </div>
     <% if (typeof error != 'undefined') { %> <%
      error.details.forEach(function(item) { %>

      <p class="text-red-500 text-right"><%= item.message %></p>
      <% }); %> <%} %>
     <form
     class="w-full flex flex-row"
     action='/discounts/edit/<%= discount._id %>'
     method="post"
     enctype="multipart/form-data"
   >
     <div class="w-1/2">

       <div class="flex flex-col gap-2 m-2">
         <label htmlFor="title" class="w-20 text-sm font-bold"> عنوان </label>
         <input type="text" name="title" id="title" class="p-1 border
         border-gray-300 bg-[#F9FAFB]" placeholder="عنوان "
         value = <%= (typeof
         discount != 'undefined')? discount.title:'' %> >
       </div>

       <div class="flex flex-col gap-2 m-2">
         <label htmlFor="value" class="w-20 text-sm font-bold"> میزان تخفیف </label>
         <input
           type="text"
           name="value"
           id="value"
           class="p-1 border border-gray-300 bg-[#F9FAFB]"
           placeholder="میزان "
           value = <%= (typeof
           discount != 'undefined')?discount.value:'' %> >
        
       </div>



       <div class="flex flex-col gap-2 m-2">
        <label htmlFor="sDate" class="w-20 text-sm font-bold">  تاریخ شروع </label>
        <input
          type="text"
          name="sDate"
          id="sDate"

          class="example1 p-1 border border-gray-300 bg-[#F9FAFB]"
          placeholder="میزان "
          value = <%= (typeof
          discount != 'undefined')?discount.sDate:'' %> >
       
      </div>


      <div class="flex flex-col gap-2 m-2">
        <label htmlFor="eDate" class="w-20 text-sm font-bold">  تاریخ پایان </label>
        <input
          type="text"
          name="eDate"
          id="eDate"
          onchange="clickme"
          class="example1 p-1 border border-gray-300 bg-[#F9FAFB]"
          placeholder="میزان "
          value = <%= (typeof
          discount != 'undefined')?discount.eDate:'' %> >
      </div>


       <div class="flex flex-col gap-2 m-2">
         <label htmlFor="productId" class="w-40 text-sm font-bold">
            محصول
         </label>
         <select
           type="text"
           name="productId"
           id="productId"
           class="p-1 outline-none border border-gray-300 bg-[#F9FAFB]"
           placeholder="محصول را انتخاب کنید"
         >
         
          <% if (typeof products != 'undefined') { %> <%
            products.forEach(function(item) { %>
              <% if (typeof discount != 'undefined') { %>
              <% if (item._id==discount.productId) {%> 
                <option value=<%= item._id %> selected ><%= item.name %></option>  

              <%}else {%>
            <option value=<%= item._id %>><%= item.name %></option>
            <%} }else{ %>
              <option value=<%= item._id %>><%= item.name %></option>
            <% }}); %> <%} %>
 

         </select>
       </div>

 

       <div class="flex justify-end p-2">
         <button
           type="submit"
           class="text-white bg-blue-400 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
         >
           ثبت تخفیف
         </button>
       </div>
     </div>

   </form>
    <footer><%- include('./partials/footer'); %></footer>
    
<script type="text/javascript">
  $(document).ready(function() {
    $('.example1').persianDatepicker({
      observer: true,
      initialValueType: 'persian',
      format: 'YYYY-MM-DD',
      calendar:{
        persian: {
            locale: 'en'
        }
    }
    });
    // $(".example1").pDatepicker();
  });
</script>
  </body>
</html>
